@import "../../../styles/mixins.scss";

.nav-phone {
    margin-top: 20px;
    margin-bottom: 30px;
    border-top: 1px solid #dddddd;
    padding-top: 5px;
    font-size: 0.85rem;
}

.nav-tablet {
    display: none;
}

.nav-bottom {
    margin-top: 20px;
    border-top: 1px solid #dddddd;
    padding-top: 5px;
    font-size: 0.85rem;
}

@include tablet {
    .nav-phone {
        display: none;
    }

    .nav-tablet {
        display: flex;
        margin-bottom: 15px;
        padding-bottom: 5px;
        font-size: 0.75rem;
        border-bottom: 1px solid #dddddd;
    }
}
