@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.post-image {
    width: 100%;
    margin-top: -1px;
}

.page {
    margin: 0;
    width: 100%;
    display: block;
}

article {
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;

    .post-tablet-nav {
        display: none;
    }

    .post-info {
        margin-top: 10px;

        h1 {
            margin: 5px 0;
        }

        .breadcrumb {
            font-size: 0.85rem;
        }

        .mobile-nav {
            margin-top: 20px;
            margin-bottom: 20px;
            border-top: 1px solid #dddddd;
            padding-top: 5px;
            font-size: 0.85rem;
        }

        .intro {
            display: block;

            .left {
                display: none;
            }
        }

        .date {
            font-size: 0.8rem;
            line-height: 0;
        }
    }

    .bottom-nav {
        margin-top: 20px;
        border-top: 1px solid #dddddd;
        padding-top: 5px;
        font-size: 0.85rem;
    }
}

aside {
    width: 100%;
    padding: 20px;
    border-left: none;
    box-sizing: border-box;

    h2 {
        font-size: 1.2rem;
    }
}

aside a {
    font-weight: normal;
}

.author {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.author-image {
    width: 50px;
    border-radius: 50%;
}

.author .about {
    margin-left: 10px;
}

.author .about a {
    font-weight: 700;
}

@include tablet {
    .post-image {
        display: none;
    }

    .page {
        margin: 20px auto 20px auto;
        display: flex;
    }

    article {
        width: 70%;
        padding: 0px 20px 0px 15px;
        box-sizing: border-box;

        .post-tablet-nav {
            display: flex;
            margin-bottom: 15px;
            padding-bottom: 5px;
            font-size: 0.75rem;
            border-bottom: 1px solid #dddddd;
        }

        .post-info {
            .mobile-nav {
                display: none;
            }

            h1 {
                margin: 10px 0;
            }

            .intro {
                display: flex;
                align-items: center;

                .left {
                    display: block;
                    width: calc(25% - 20px);
                    margin-right: 20px;

                    img {
                        width: 100%;
                    }
                }

                .right {
                    width: 75%;
                    font-size: 0.95rem;
                }
            }

            .date {
                padding: 0 0 10px 0;
            }
        }
    }

    aside {
        width: 30%;
        padding: 0px 15px 0px 15px;
        border-left: 1px solid #dddddd;
        box-sizing: border-box;
        font-size: 0.8rem;

        h2 {
            font-size: 1rem;
        }
    }

    ul {
        padding-left: 20px;
    }
}

@include desktop-small {
    article {
        .post-info {
            .intro {
                .right {
                    font-size: 1.1rem;
                }
            }
        }
    }

}

@include desktop {
    ul {
        padding-left: 30px;
    }

    .page {
        width: 90%;
    }

    article {
        padding-right: 40px;

        .post-info {
            h1 {
                margin: 10px 0;
            }

            .intro {
                .left {
                    width: calc(20% - 20px);
                }

                .right {
                    width: 80%;
                    font-size: 1.2rem;
                }
            }

            .date {
                padding: 10px 0;
            }
        }
    }

    aside {
        padding-left: 20px;
        font-size: 0.9rem;
    }
}
