<div class="page">
    <article>
        <div class="loading-placeholder header first"></div>
        <div class="loading-spacer">
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder code"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder header"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
        </div>
    </article>
    <aside>
        <div class="loading-placeholder header first"></div>
        <div class="loading-spacer">
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
        </div>
        <div class="loading-placeholder header"></div>
        <div class="loading-spacer">
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
            <div class="loading-placeholder paragraph"></div>
        </div>
    </aside>
</div>