<ng-container *ngIf="!blogPost">
    <home-blog-post-loading></home-blog-post-loading>
</ng-container>
<ng-container *ngIf="blogPost">
    <img class="post-image" [src]="blogPost.imageUrl" />
    <div class="page">
        <article>
            <div class="table-row post-top-nav">
                <div class="table-col" *ngIf="blogPost.prev">
                    <a [routerLink]="blogPost.prev.url">&laquo; previous lesson</a>
                </div>
                <div class="table-col right" *ngIf="blogPost.next">
                    <a [routerLink]="blogPost.next.url">next lesson &raquo;</a>
                </div>
            </div>
            <div class="post-info">
                <div class="breadcrumb">
                    <a href="/">home</a> /
                    <a routerLink="/{{ formatPath(blogPost.category.toLowerCase()) }}">{{ blogPost.category.toLowerCase() }}</a>
                </div>
                <h1>{{ blogPost.subject }}</h1>
                <div class="intro">
                    <div class="left"><img [src]="blogPost.imageUrl" /></div>
                    <div class="right"><md [value]="blogPost.contentIntro"></md></div>
                </div>
                <p class="date">
                    {{ blogPost.date | date }} by
                    {{ blogPost.author.firstName }}
                </p>
                <div class="table-row phone-nav">
                    <div class="table-col" *ngIf="blogPost.prev">
                        <a [routerLink]="blogPost.prev.url">&laquo; previous lesson</a>
                    </div>
                    <div class="table-col right" *ngIf="blogPost.next">
                        <a [routerLink]="blogPost.next.url">next lesson &raquo;</a>
                    </div>
                </div>
            </div>
            <md [value]="blogPost.content"></md>
            <ng-container *ngIf="blogPost.codeLinks.length > 0">
                <h2>Get the code</h2>
                <p>
                    View all code on GitHub, or use codesandbox to edit and run it.
                </p>
                <home-blog-post-view-code [codeLinks]="blogPost.codeLinks"> </home-blog-post-view-code>
            </ng-container>
            <div class="table-row bottom-nav">
                <div class="table-col" *ngIf="blogPost.prev">
                    <a [routerLink]="blogPost.prev.url">&laquo; previous lesson</a>
                </div>
                <div class="table-col right" *ngIf="blogPost.next">
                    <a [routerLink]="blogPost.next.url">next lesson &raquo;</a>
                </div>
            </div>
        </article>
        <aside>
            <div *ngIf="authorImage">
                <h2 class="first">Author</h2>
                <div class="author">
                    <div>
                        <img [src]="authorImage" class="author-image" />
                    </div>
                    <div class="about">
                        <md [value]="blogPost.author.firstName + ' ' + blogPost.author.lastName + '\n' + blogPost.author.about"> </md>
                    </div>
                </div>
            </div>
            <h2>Share this</h2>
            <share [shareInfo]="shareInfo"></share>
            <home-blog-post-external-links [externalLinks]="blogPost.externalLinks"></home-blog-post-external-links>
            <div *ngIf="blogPost.tags">
                <h2>Tags</h2>
                <ul>
                    <li *ngFor="let tag of blogPost.tags">
                        <a routerLink="/tag/{{ formatPath(tag.name) }}">{{ tag.name }}</a>
                    </li>
                </ul>
            </div>
            <home-blog-post-related [blogPost]="blogPost" [blogPosts]="blogPosts"></home-blog-post-related>
            <home-blog-post-menu [shareInfo]="shareInfo" [blogPost]="blogPost" [blogPosts]="blogPosts"></home-blog-post-menu>
        </aside>
    </div>
</ng-container>
