<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="HTTP www to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^www.(.*)$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="HTTP without subdomain to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="^(.*)$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://www.{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="Robots" stopProcessing="true">
          <match url="robots.txt" />
          <action type="Rewrite" url="robots.txt" />
        </rule>
        <rule name="FavIcon" stopProcessing="true">
          <match url="favicon.ico" />
          <action type="Rewrite" url="favicon.ico" />
        </rule>
        <rule name="CoolBytes App">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>