<app-admin-menu></app-admin-menu>
<div class="admin-content">
    <h1>Profile</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="firstName">First name:</label>
        <p>
            <input formControlName="firstName" id="firstName" />
        </p>
        <label for="lastName">Last name:</label>
        <p>
            <input formControlName="lastName" id="lastName" />
        </p>
        <label for="about">About me:</label>
        <p>
            <textarea formControlName="about" id="about"></textarea>
            <admin-images-manager title="Insert image" (onImageSelected)="onContentImageSelectedHandler($event)"></admin-images-manager>
        </p>
        <input formControlName="imageId" type="hidden" name="imageId" />
        <p *ngIf="imageUri">
            <img [src]="imageUri" width="200" />
        </p>
        <div>
            <admin-images-manager title="Choose image" (onImageSelected)="onMainImageSelectedHandler($event)"></admin-images-manager>
        </div>
        <p>
            <label for="resumeUri">Resume Url:</label>
        </p>
        <p>
            <input formControlName="resumeUri" id="resumeUri" />
        </p>
        <label for="linkedIn">LinkedIn:</label>
        <p>
            <input formControlName="linkedIn" id="linkedIn" />
        </p>
        <label for="gitHub">GitHub:</label>
        <p>
            <input formControlName="gitHub" id="gitHub" />
        </p>
        <label>
            Experience
            <a (click)="addExperienceControl()">add experience</a>
        </label>

        <div formArrayName="experiences" *ngFor="let item of form.get('experiences')?.controls; let i = index">
            <ng-container [formGroupName]="i">
                <p class="flex">
                    <img [src]="experiencesImageUris['Image' + i]" *ngIf="experiencesImageUris['Image' + i]" />
                    <input formControlName="id" type="hidden" />
                    <input formControlName="name" placeholder="Name" />
                    <input formControlName="color" placeholder="Color" />
                    <input formControlName="imageId" type="hidden" />
                </p>
                <admin-images-manager title="Choose image" (onImageSelected)="onExperiencesImageSelectedHandler($event, item, i)"></admin-images-manager>
                |
                <a (click)="removeExperience(i)">Remove experience</a>
            </ng-container>
        </div>
        <p>
            <input type="submit" value="save" />
        </p>
    </form>
</div>