<app-admin-menu></app-admin-menu>
<div class="admin-content">
    <h1>Profile</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input formControlName="firstName" placeholder="first name" matInput />
        </mat-form-field>
        <mat-form-field>
            <input formControlName="lastName" placeholder="lastName" matInput />
        </mat-form-field>
        <mat-form-field>
            <textarea formControlName="about" placeholder="about me" matInput cdkTextareaAutosize></textarea>
        </mat-form-field>
        <admin-images-manager title="Insert image" (imageSelected)="onContentImageSelectedHandler($event)"></admin-images-manager>
        <input formControlName="imageId" type="hidden" name="imageId" />
        <p *ngIf="imageUri">
            <img [src]="imageUri" width="200" />
        </p>
        <p>
            <admin-images-manager title="Choose image" (imageSelected)="onMainImageSelectedHandler($event)"></admin-images-manager>
        </p>
        <mat-form-field>
            <input formControlName="resumeUri" placeholder="resume url" matInput />
        </mat-form-field>
        <mat-form-field>
            <input formControlName="linkedIn" placeholder="linkedIn handle" matInput />
        </mat-form-field>
        <mat-form-field>
            <input formControlName="gitHub" placeholder="github handle" matInput />
        </mat-form-field>
        <p>
            <label>
                Experience
                <a (click)="addExperienceControl()">add experience</a>
            </label>
        </p>
        <ng-container formArrayName="experiences" *ngFor="let item of form.get('experiences')?.controls; let i = index">
            <ng-container [formGroupName]="i">
                <span class="flex">
                    <img [src]="experiencesImageUris['Image' + i]" *ngIf="experiencesImageUris['Image' + i]" />
                    <input formControlName="id" type="hidden" />
                    <input formControlName="imageId" type="hidden" />
                    <mat-form-field>
                        <input formControlName="name" placeholder="name" matInput />
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="color" placeholder="color" matInput />
                    </mat-form-field>
                </span>
                <p>
                    <admin-images-manager title="Choose image" (imageSelected)="onExperiencesImageSelectedHandler($event, item, i)"></admin-images-manager>
                    - <a (click)="removeExperience(i)" class="small-link">Remove experience</a>
                </p>
            </ng-container>
        </ng-container>
        <p>
            <button mat-raised-button type="submit">save</button>
        </p>
    </form>
</div>