.page {
    margin:100px auto 20px auto;
    width:90%;
    display:flex;
}

article {
    width:70%;
    padding-right:40px;
    box-sizing:border-box;
}

aside {
    width:30%;
    padding-left:20px;
    border-left:1px solid #DDDDDD;
    box-sizing:border-box;
}

a {
    font-weight:700;
    text-decoration: none;
}

aside a {
    font-weight:normal;
    font-size:13px;
}

h1 {
    margin-bottom:12px;
}

.post-info {
    margin:0;
    color:#777;
}

.author {
    display:flex;
    align-items: center;
}

.author .about {
    margin-left:10px;
}

.author .about a {
    font-size:15px;
    font-weight:700;
}

.author .about span {
    font-size:14px;
}

@media screen and (max-width: 900px) {
    .page {
        margin:0;
        width:100%;
        display:block;
    }
    
    article {
        width:100%;
        padding-right:15px;
        padding:100px 15px 5px 15px;
        box-sizing:border-box;
        font-size:14px;
    }

    aside {
        margin-top:15px;
        width:100%;
        background-color:rgb(178, 230, 223);
        padding-left:0px;
        padding:15px;
        border-left:none;
        box-sizing:border-box;
    }
}