<div class="page">
    <div class="loading-placeholder header first"></div>
    <div class="loading-spacer">
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
    </div>
    <div class="posts">
        <div class="loading-placeholder post"></div>
        <div class="loading-placeholder post"></div>
        <div class="loading-placeholder post"></div>
        <div class="loading-placeholder post"></div>
    </div>
    <div class="loading-placeholder header"></div>
    <div class="loading-spacer">
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
    </div>
</div>