<div class="loading">
    <div class="loading-placeholder header first"></div>
    <div class="loading-spacer">
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder code"></div>
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder header"></div>
        <div class="loading-placeholder paragraph"></div>
        <div class="loading-placeholder paragraph"></div>
    </div>
</div>