.post {
    max-width: 380px;
    border: 1px solid #ABB0C5;
    margin: 15px 10px 15px 10px;
    box-sizing: border-box;
    overflow:hidden;
    background-color:#fff;
}

.post:hover {
    border: 1px solid #1e243d;
    box-shadow:-2px 6px 20px -1px #CECECE;
}

.post.tobackground {
    opacity:0.8;
}

.info {
    font-size:12px; 
    text-transform: uppercase;
    height:20px;
    padding:2px 5px 3px 5px;
    box-sizing: border-box;
}

.image { 
    background-color: #fff;
}

.image img {
    width:100%;
}

.text {
    margin:10px;
    overflow:hidden;
}

.text > a {
    font-family:Raleway;
    font-size:18px;
    font-weight:700;
    color:#1e243d;
    text-overflow: ellipsis;
    text-decoration: none;
}
.text > p {
    font-size:14px;
    text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
    .text {
        height: 140px;
    }

    .post {
        height: 340px;
    }
}

@media screen and (max-width: 900px) {
    .post {
        margin:15px 15px 0px 15px;
        box-shadow:-2px 6px 20px -1px #CECECE;
    }
 }