article {
    padding:15px 0 0px 0px;
}

.title {
    text-align: center;
}

.text {
    font-size:14px;
    margin:0 10px 0 10px;
}

.explore {
    margin-top:82px;
    background-color:rgb(29, 90, 82);
    padding:25px 0 25px 0px;
}

h1 {
    color:#fff;
    font-size:25px;
    margin: 0 20px 0 20px;
    font-weight:700;
    font-family: 'Baloo Bhai', cursive;
}

h2 {
    color:#fff;
    font-size:20px;
    font-family: 'Raleway';
    margin:0;
}

@media screen and (min-width: 900px) {
    article {
        padding:20px 0 30px 0px;
    }

    .text {
        font-size:22px;
    }

    .explore {
        padding:15px 0 25px 0px;
    }

    h1 {
        font-size:45px;
    }

    h2 {
        color:#fff;
        font-size:30px;
        font-family: 'Raleway';
        margin:0;
    }
}