:host {
    flex-basis:100%;
}

.post {
    border: 1px solid #ABB0C5;
    box-sizing: border-box;
    overflow:hidden;
    background-color:#fff;
    margin-bottom:15px;
}

.post:hover {
    border: 1px solid #1e243d;
    box-shadow:-2px 6px 20px -1px #CECECE;
}

.post.tobackground {
    opacity:0.8;
}

.info {
    font-size:12px; 
    text-transform: uppercase;
    height:20px;
    padding:2px 5px 3px 5px;
    box-sizing: border-box;
}

.image { 
    background-color: #fff;
}

.image img {
    width:100%;
}

.text {
    margin:10px;
    overflow:hidden;
}

.text > a {
    font-family:Raleway;
    font-size:18px;
    font-weight:700;
    color:#1e243d;
    text-overflow: ellipsis;
    text-decoration: none;
}
.text > p {
    font-size:14px;
    text-overflow: ellipsis;
}

@media (min-width: 576px) {
    :host {
        flex-basis:50%;
    }

    .post {
        margin-right:15px;
        margin-bottom:20px;
    }

    .text {
        height:140px;
    }
}

@media (min-width: 768px) { 
    :host {
        flex-basis:33%;
    }
 }

 @media (min-width: 1200px) { 
    :host {
        flex-basis:25%;
    }
}