<div class="page">
    <article *ngIf="blogPost">
        <h1 class="first">{{blogPost.subject}}</h1>
        <p class="post-info">{{blogPost.date | date}} by {{blogPost.author.firstName}}</p>
        <md [value]="blogPost.contentIntro"></md>
        <md [value]="blogPost.content"></md>
        <a target="blank" href="https://github.com/TomBina/CbCode">View the code on github</a>.
    </article>
    <aside *ngIf="blogPost">
        <div *ngIf="authorImage">
            <h2 class="first">Author</h2>
            <div class="author">
                <div>
                    <img [src]="authorImage" class="author-image" />
                </div>
                <div class="about">
                    <md [value]="(blogPost.author.firstName + ' ' + blogPost.author.lastName + '\n' + blogPost.author.about)"></md>
                </div>
            </div>
        </div>
        <div>
            <h2>Resources</h2>
            <ul>
                <li *ngFor="let link of blogPost.externalLinks">
                    <a target="blank" [href]="link.url">{{link.name}}</a>
                </li>
                <li>
                    <a target="blank" href="https://github.com/TomBina/CbCode">View the code on github</a>
                </li>
            </ul>
        </div>
        <div *ngIf="blogPost.tags">
            <h2>Tags</h2>
            <ul>
                <li *ngFor="let tag of blogPost.tags">
                    <a routerLink="/tag/{{formatPath(tag.name)}}">{{tag.name}}</a>
                </li>
            </ul>
        </div>
        <ng-container *ngIf="shareInfo">
            <h2>Share this post</h2>
            <share [shareInfo]="shareInfo"></share>
        </ng-container>
        <div *ngIf="blogPost.relatedLinks">
            <h2>More posts</h2>
            <ul>
                <li *ngFor="let link of blogPost.relatedLinks">
                    <a [routerLink]="link.url">{{link.subject}}</a>
                </li>
            </ul>
        </div>
    </aside>
</div>