@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.page {
    margin:0;
    width:100%;
    display:block;
}

article {
    padding-right:15px;
    padding:15px 15px 5px 15px;
    box-sizing:border-box;
}

aside {
    width:100%;
    padding-left:0px;
    padding:15px;
    border-left:none;
    box-sizing:border-box;
}

aside a {
    font-weight:normal;
}

.post-info {
    margin:0;
    color:#777;
}

.author {
    display:flex;
    align-items: center;
    margin-top:-20px;
}

.author-image {
    width:50px;
    border-radius:50%;
}

.author .about {
    margin-left:10px;
}

.author .about a {
    font-weight:700;
}

@include tablet {
    .page {
        margin:20px auto 20px auto;
        display:flex;
    }
    
    article {
        width:70%;
        padding:0px 20px 0px 15px;
        box-sizing:border-box;
    }
    
    aside {
        width:30%;
        padding:0px 15px 0px 15px;
        border-left:1px solid #DDDDDD;
        box-sizing:border-box;
        font-size:0.75rem;
    
        h2 {
            font-size:1rem;
        }
    }
}

@include desktop {
    .page {
        width:90%;
    }

    article {
        padding-right:40px;
    }

    aside {
        padding-left:20px;
        font-size:0.9rem;
    }
}