<div class="post">
    <div class="info">
        {{blogPostSummary.date | date}} by
        <a>{{blogPostSummary.authorName}}</a>
    </div>
    <div class="image">
        <a routerLink="/post/{{blogPostSummary.id}}/{{blogPostSummary.subjectUrl}}" *ngIf="imageUrl">
            <img [attr.data-src]="imageUrl" src="/assets/placeholder.svg" appLazyLoad />
        </a>
    </div>
    <div class="text">
        <a routerLink="/post/{{blogPostSummary.id}}/{{blogPostSummary.subjectUrl}}">{{blogPostSummary.subject}}</a>
        <p>
            <md [value]="blogPostSummary.contentIntro"></md>
        </p>
    </div>
</div>