.explore {
    background:url("../../../assets/bg.png");
    background-size: 150%;
    background-color:rgb(58, 124, 115);
    height:40px;
}

@media (min-width: 576px) {
    .explore {
        background-size: 60%;
    }
}