<ng-container *ngIf="!blogPost">
    <home-blog-post-loading></home-blog-post-loading>
</ng-container>
<ng-container *ngIf="blogPost">
    <div class="page">
        <article>
            <h1 class="first">{{blogPost.subject}}</h1>
            <p class="post-info">{{blogPost.date | date}} by {{blogPost.author.firstName}}</p>
            <md [value]="blogPost.contentIntro"></md>
            <md [value]="blogPost.content"></md>
        </article>
        <aside>
            <div *ngIf="authorImage">
                <h2 class="first">Author</h2>
                <div class="author">
                    <div>
                        <img [src]="authorImage" class="author-image" />
                    </div>
                    <div class="about">
                        <md
                            [value]="(blogPost.author.firstName + ' ' + blogPost.author.lastName + '\n' + blogPost.author.about)">
                        </md>
                    </div>
                </div>
            </div>
            <div *ngIf="blogPost.externalLinks.length > 0">
                <h2>Resources</h2>
                <ul>
                    <li *ngFor="let link of blogPost.externalLinks">
                        <a target="blank" [href]="link.url">{{link.name}}</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="blogPost.tags">
                <h2>Tags</h2>
                <ul>
                    <li *ngFor="let tag of blogPost.tags">
                        <a routerLink="/tag/{{formatPath(tag.name)}}">{{tag.name}}</a>
                    </li>
                </ul>
            </div>
            <home-blog-post-menu [shareInfo]="shareInfo" [blogPost]="blogPost"></home-blog-post-menu>
        </aside>
    </div>
</ng-container>