<article>
    <div class="title" *ngIf="tag">
        <h1>
            Search results for {{tag}}
        </h1>
    </div>
    <div class="title" *ngIf="!tag">
        <h1>Welcome to Cool Bytes!</h1>
        <p class="text">Read the latest blogs about cool technologies, patterns &amp; practices on CoolBytes.io.</p>
    </div>
    <div class="posts">
        <home-blog-post-intro [blogPost]="blog.blogPost" *ngFor="let blog of (blogPosts$ | async)">
        </home-blog-post-intro>
    </div>
</article>