@import "../../../styles/mixins.scss";

h1 {
    display:inline;
    margin-right:10px;
}

a {
    text-decoration: none;
}

.category {
    margin:20px;
}   

.posts {
    margin-top:10px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

@include tablet {
    .posts home-blog-post-intro:nth-child(n+4) {
        display:none;
    }
}

@include desktop {
    .posts home-blog-post-intro:nth-child(n+4) {
        display:block;
    }

    .posts home-blog-post-intro:nth-child(n+5) {
        display:none;
    }
}