@import "../../../styles/mixins.scss";

.page {
    margin:20px;
}

.posts {
    margin-top:20px;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.post {
    flex-basis:100%;
}

@include phone-large {
    .post {
        flex-basis:50%;
    }
}

@include tablet {
    .page {
        margin:20px auto 20px auto;
        width:90%;
    }

    .post {
        flex-basis:33%;
    }
}

@include desktop {
    .post {
        flex-basis:25%;
    }
}