@import "mixins.scss";
@import "variables.scss";

code {
    font-family: "Source Code Pro", monospace;
    font-size: 0.78rem;
    background-color: $color-tertiary;
    padding: 2px;
}

pre {
    min-width: 100%;
    float: left;

    code {
        background-color:transparent;
    }
}


@include tablet {
    code {
        font-size: 0.8rem;
    }
}
