@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-primary: (
    50 : #e4e5e8,
    100 : #bcbdc5,
    200 : #8f929e,
    300 : #626677,
    400 : #40455a,
    500 : #1e243d,
    600 : #1a2037,
    700 : #161b2f,
    800 : #121627,
    900 : #0a0d1a,
    A100 : #5b79ff,
    A200 : #284fff,
    A400 : #002cf4,
    A700 : #0028da,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-secondary: (
    50 : #e8eff5,
    100 : #c7d7e6,
    200 : #a1bcd5,
    300 : #7ba1c4,
    400 : #5f8cb7,
    500 : #4378aa,
    600 : #3d70a3,
    700 : #346599,
    800 : #2c5b90,
    900 : #1e487f,
    A100 : #bbd7ff,
    A200 : #88b8ff,
    A400 : #559aff,
    A700 : #3b8bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cb-app-primary: mat-palette($md-primary);
$cb-app-accent:  mat-palette($md-secondary);

// The warn palette is optional (defaults to red).
$cb-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cb-app-theme: mat-light-theme($cb-app-primary, $cb-app-accent, $cb-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cb-app-theme);