@import "./variables.scss";

a.md-link {
    font-weight:700;
    text-decoration: none;
    border-bottom: 1px solid $link;
}

.md-image {
    width:100%;

    &.hidden {
        display:none;
    }
}

.md-image-player {
    position: relative;

    img {
        width:100%;
        display:block;
    }

    .md-play-button {
        cursor: pointer;
        width:30%;
        height:50px;
        background-color:black;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        box-sizing: border-box;

        i {
            cursor: pointer;
            font-size: 30px;
            color:#fff;
            position: relative;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%)
        }
    }
}