nav { 
    background-color: #CACFE4;
    position:fixed;
    top:82px;
    width:100%;
    height:50px;
    padding:12px;
    box-sizing: border-box;
    z-index:1000;
}

ul {
    margin:0;
    padding:0;
}

li {
    display: inline-block;
    margin-right:5px;
}


a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration:none;
    transition:border-top ease 500ms;
    border-top:1px solid #CACFE4;
    color:#1e243d;
    padding:3px 0 12px 0;
}

a:hover {
    border-top:1px solid #1e243d;
}