<article>
    <h1>Contact</h1>
    <p *ngIf="isMessageSent">
        Your messsage was send successfully.
    </p>
    <p>
        Cool Bytes is a product of Bina Holding BV.<br />
        Dirkjespeer 13<br />2635MA Den Hoorn<br />
        Zuid Holland - The Netherlands
    </p>
    <h1>Contact us</h1>
    <p>
        Contact us if you have any questions, or if you would like to post blogs on Cool Bytes. We're always looking
        for new people!
    </p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input formControlName="name" placeholder="name" matInput />
        </mat-form-field>
        <mat-form-field>
            <input formControlName="email" placeholder="email" matInput />
        </mat-form-field>
        <mat-form-field>
            <textarea formControlName="message" placeholder="message" matInput cdkTextareaAutosize></textarea>
        </mat-form-field>

        <button type="submit">send message</button>
    </form>
</article>