<a *ngIf="!isOpen" (click)="open()">{{title}}</a>
<div *ngIf="isOpen">
    <div class="backdrop" (click)="close()"></div>
    <div class="dialog">
        <p>
            <a class="button" (click)="toggleDelete()">{{deleteImageText}}</a>
        </p>
        <div class="files">
            <img *ngFor="let image of images" [src]="imagesService.getUri(image.uriPath)" (click)="onImageClick(image)" />
        </div>
        <input type="file" class="fileInput" multiple="multiple" (change)="uploadImages($event.target)" />
    </div>
</div>