<app-admin-menu></app-admin-menu>
<div class="admin-content">
    <h1>Categories</h1>
    <mat-list cdkDropList>
        <ng-container *ngFor="let category of categories$ | async">
            <mat-list-item cdkDrag>
                <div style="display:flex; align-items: center; width:100%;">
                    <div>{{category.name}}</div>
                    <div style="flex-grow:1; text-align: right;">
                        <button mat-button>
                            <mat-icon matListIcon>edit</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>
    <p>
        <a routerLink="/admin/categories/add" mat-raised-button>add new category</a>
    </p>
</div>