<app-admin-menu></app-admin-menu>
<div class="admin-content">
    <div class="flex">
        <div class="left">
            <h1 class="no-top-margin">Edit blog</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <label for="subject">Subject</label>
                <p>
                    <input formControlName="subject" id="subject" />
                </p>
                <label for="contentIntro">Content intro:</label>
                <p>
                    <textarea formControlName="contentIntro" id="contentIntro" (onchange)="growTextarea($event.target)" (click)="growTextarea($event.target)"></textarea>
                </p>
                <label for="content">Content:</label>
                <p>
                    <textarea formControlName="content" id="content" (onchange)="growTextarea($event.target)" (click)="growTextarea($event.target)"></textarea>
                    <admin-images-manager title="Insert image" (onImageSelected)="onImageSelectedHandler($event)"></admin-images-manager>
                </p>
                <label for="tag">Tags</label>
                <p>
                    <textarea formControlName="tags" id="tags"></textarea>
                </p>
                <label for="image">Image</label>
                <p *ngIf="image && image.uri">
                    <img [src]="image.uri" width="200" />
                </p>
                <p>
                    <input type="file" id="file" (change)="onFileChanged($event.target)" />
                </p>
                <label>links
                    <a (click)="addExternalLinkControl()">add external link</a>
                </label>
                <div formArrayName="externalLinks" *ngFor="let item of form.get('externalLinks')?.controls; let i = index">
                    <p [formGroupName]="i" class="flex">
                        <input formControlName="name" placeholder="External link name" />
                        <input formControlName="url" placeholder="External link URL" />
                    </p>
                </div>
                <input type="submit" value="save" />
            </form>
        </div>
        <div class="right">
            <admin-preview-blog></admin-preview-blog>
        </div>
    </div>
</div>