<app-admin-menu></app-admin-menu>
<div class="admin-content">
    <div class="flex">
        <div class="left">
            <h1 class="no-top-margin">Add blog</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input formControlName="subject" placeholder="subject" matInput />
                </mat-form-field>
                <mat-form-field>
                    <textarea formControlName="contentIntro" placeholder="content intro" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea formControlName="content" placeholder="content" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <admin-images-manager title="insert image" (onImageSelected)="onImageSelectedHandler($event)"></admin-images-manager>
                <mat-form-field>
                    <textarea formControlName="tags" placeholder="tags" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <label>Image</label>
                <p *ngIf="image && image.uri">
                    <img [src]="image.uri" width="200" />
                </p>
                <p>
                    <button type="button" (click)="fileinput.click()" mat-raised-button>add an image</button>
                    <input hidden type="file" #fileinput (change)="onFileChanged($event.target)" />
                </p>
                <p *ngIf="selectedFileName">
                    {{selectedFileName}}
                </p>
                <mat-form-field>
                    <mat-select placeholder="category" formControlName="category">
                        <mat-option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <label>Links <a (click)="addExternalLinkControl()">add external link</a></label>
                <ng-container formArrayName="externalLinks" *ngFor="let item of form.get('externalLinks')?.controls; let i = index">
                    <span [formGroupName]="i" class="flex">
                        <mat-form-field>
                            <input formControlName="name" placeholder="external link name" matInput />
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="url" placeholder="external link url" matInput />
                        </mat-form-field>
                    </span>
                </ng-container>
                <button mat-raised-button type="submit">save</button>
            </form>
        </div>
        <div class="right">
            <admin-preview-blog></admin-preview-blog>
        </div>
    </div>
</div>