<app-admin-menu></app-admin-menu>
<div class="admin-content">
    <div class="flex">
        <div class="left">
            <h1 class="no-top-margin">Add blog</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input formControlName="subject" placeholder="subject" matInput />
                </mat-form-field>
                <mat-form-field>
                    <textarea formControlName="contentIntro" placeholder="content intro" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea formControlName="content" placeholder="content" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <admin-images-manager title="insert image" (imageSelected)="onImageSelectedHandler($event)"></admin-images-manager>
                <mat-form-field>
                    <textarea formControlName="tags" placeholder="tags" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <label>Image</label>
                <p *ngIf="image && image.uri">
                    <img [src]="image.uri" width="200" />
                </p>
                <p>
                    <button type="button" (click)="fileinput.click()" mat-raised-button>add an image</button>
                    <input hidden type="file" #fileinput (change)="onFileChanged($event.target)" />
                </p>
                <p *ngIf="selectedFileName">
                    {{selectedFileName}}
                </p>
                <mat-form-field>
                    <mat-select placeholder="category" formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="table-row">
                    <div class="table-col">
                        <h2>Links</h2>
                    </div>
                    <div class="table-col right">
                        <button type="button" mat-button color="accent" (click)="addControl('externalLinks')">
                            <mat-icon>add_circle</mat-icon> add link
                        </button>
                    </div>
                </div>
                <ng-container formArrayName="externalLinks"
                    *ngFor="let item of form.get('externalLinks').controls; let i = index">
                    <span [formGroupName]="i" class="flex">
                        <mat-form-field>
                            <input formControlName="name" placeholder="name" matInput />
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="url" placeholder="url" matInput />
                        </mat-form-field>
                    </span>
                </ng-container>
                <div class="table-row">
                    <div class="table-col">
                        <h2>Metatags</h2>
                    </div>
                    <div class="table-col right">
                        <button type="button" mat-button color="accent" (click)="addControl('metaTags')">
                            <mat-icon>add_circle</mat-icon> add metatag
                        </button>
                    </div>
                </div>
                <ng-container formArrayName="metaTags"
                    *ngFor="let item of form.get('metaTags').controls; let i = index">
                    <span [formGroupName]="i" class="flex">
                        <mat-form-field>
                            <input formControlName="name" placeholder="name" matInput />
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="value" placeholder="value" matInput />
                        </mat-form-field>
                    </span>
                </ng-container>
                <button mat-raised-button type="submit">save</button>
            </form>
        </div>
        <div class="right">
            <admin-preview-blog></admin-preview-blog>
        </div>
    </div>
</div>