@import "../../../../../styles/mixins.scss";

.author-image {
    margin:0 auto 0 auto;
    width:130px;
}

.author-image > img {
    width:100%;
    border-radius:50%;
}

.author-about {
    margin:0 15px 0 15px;
    text-align: center;
}

.author-about img {
    margin-right:5px;
}

.resume-link-desktop {
    display:none;
}

h1 {
    margin:0px 0 5px 0;
    font-size:30px;
}

h2 {
    font-size:20px;
    margin:28px 0 20px 20px;
}

.experiences {
    display:flex;
    list-style: none;
    padding:0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin:0px 0px 0px 20px;
}

.experiences li {
    flex-shrink: 0;
    text-align: center;
    margin-right:10px;
}

.experiences p {
    margin:5px 0 0 0;
    text-transform: uppercase;
    font-size:13px;
    font-weight:700;
}

.experiences img {
    width:50px;
    border-radius: 50%;
    padding:5px;
}

a {
    text-decoration: none;
    font-weight:700;
}

.icon {
    margin-left:10px;
}

@include tablet {
    
    .resume-link-desktop {
        display:inline;
    }

    .resume-link-mobile {
        display:none;
    }

    h1 { 
        font-size:40px;
    }

    h2 {
        font-size:30px;
    }

    .experiences {
        margin:10px 0px 30px 20px;
    }
}

@include desktop {
    .author {
        justify-content: center;
        display:flex;
    }

    .author-image {
        width:150px;
        margin:0 25px 0 20px;
    }

    .author-about {
        margin:0 20px 0 0;
        text-align:left;
    }

    h2 {
        text-align:center;
    }
    
    .experiences {
        justify-content: center;
        margin:10px 0px 30px 0px;
    }
}