<app-admin-menu></app-admin-menu>
<div class="admin-content">
    <div class="flex">
        <div class="left">
            <h1 class="no-top-margin">Add resume event</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input formControlName="startDate" placeholder="start date" matInput />
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="endDate" placeholder="end date" matInput />
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="name" placeholder="name" matInput />
                </mat-form-field>
                <mat-form-field>
                    <textarea formControlName="message" placeholder="message" matInput cdkTextareaAutosize></textarea>
                </mat-form-field>
                <p>
                    <button type="submit" mat-raised-button>save</button>
                </p>
            </form>
        </div>
        <div class="right">
            <admin-preview-resume-event></admin-preview-resume-event>
        </div>
    </div>
</div>