.table {
    margin-bottom:20px;
}

.row-head {
    display:flex;
    width:100%;
    margin-bottom:15px;
    padding-bottom:5px;
    border-bottom:1px solid #B9C0D8;
    text-transform: uppercase;
    font-size:14px;
    color:#7B808F;
}

.row {
    display:flex;
    width:100%;
    margin-bottom:10px;
}

.row-head > div:first-child, .row > div:first-child {
    width:33%;
}
.row-head > div:nth-child(2), .row > div:nth-child(2) {
    width:50%;
}