footer {
    padding:10px;
    font-size:14px;
    text-align: center;
}

a {
    font-weight:700;
    text-decoration: none;
}

@media screen and (min-width: 900px) {
    footer {
        padding:15px;
    }
}