<header>
    <img src="assets/logo.svg" (click)="toHome()" />
    <nav>
        <ul>
            <li>
                <a routerLink="/home">home</a>
            </li>
            <li>
                <a routerLink="/about" class="main">about</a>
            </li>
            <li>
                <a routerLink="/contact">contact</a>
            </li>
            <li>
                <a routerLink="/admin" *ngIf="authService.isAuthenticated()">admin</a>
            </li>
            <li>
                <a (click)="authService.logout()" *ngIf="authService.isAuthenticated()">logout</a>
            </li>
        </ul>
    </nav>
</header>