.wrapper {
    padding-bottom:82px;
}

header {
    width:100%;
    height:82px;
    background-color: #1e243d;
    position: fixed;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    top:0;
    padding:6px 8px 6px 8px;
    box-sizing:border-box;
    z-index:1000;
}

img {
    width:80px;
    cursor: pointer;
}

nav {
    margin-left:20px;
}

ul {
    margin:0;
    padding:0;
}

li {
    display: inline-block;
    margin-right:5px;
}

a {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration:none;
    transition:border-top ease 500ms;
    border-top:1px solid #1e243d;
    padding:3px 0 12px 0;
    cursor:pointer;
}

a:hover {
    border-top:1px solid #fff;
}